/* Styles will be updated very soon */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 52.6%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 3rem 8rem;
}

.calc__screen {
  padding: 3rem 3rem;
  border: 1px solid black;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calc__screen--previous {
  font-size: 2rem;
}
